@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #e0fbfc;
    font-family: "Roboto";
    color: #444;
    max-width: 960px;
    /* o auto serve para centralizar a tela, adiciona o máximo possivel de border nos lados */
    /* auto centraliza uma div em relação a div de fora */
    margin: 100px auto; 
    padding: 10px;
}

.createNewBlog{
    margin: 10px 100px;

}

nav{
    margin: 10px 100px;
    display: flex;
    color: #293241;
    justify-content: space-between;
    /* justify-self o item ou tag nav tem space-between, o content seria o h1 e o a */
}

nav > a{
    border: 2px solid #3d5a80;
    background-color: #ee6c4d;
    color: #e0fbfc;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
}

form{
    max-width: 500px;
}

input,
textarea{
    display: block;
    margin: 16px 0;
    padding: 6px 10px;
    width: 100%;
    border: none;
    /* border-color: #98c1d9; */
    background: #98c1d9;
    font-family: "Roboto";
    border-radius: 10px;
    max-width: 730px;
    color: #293241;
}

form > input::placeholder{
    color: #293241;
}

form > textarea::placeholder{
    color: #293241;
}

textarea{
    min-height: 200px;
}

.blogs{
    margin: auto;
}

.post{
    padding: 16px;
    background: #98c1d9;
    color: #293241;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 750px;
}

.post > h2{
    margin: 0;
}

.post > p{
    margin: 10px;
}

.post > a{
    color: #ee6c4d;
}

.create-blog{
    margin-top: 20px;
    padding: 16px;
    background-color: #3d5a80;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 750px;
}

form{
    max-width: 750px;
    margin: auto;
    position: relative;
    margin-bottom: 50px;
}

form > h1{
    color: #293241;
}

form > button{
    padding: 10px 20px; /* 10px pra cima e 20 pra baixo  */
    border-radius: 10px;
    border: 2px solid #3d5a80;
    background-color: #ee6c4d;
    color: #e0fbfc;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 0;
}


.blog-details{
    padding: 16px;
    background: #98c1d9;
    color: #293241;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 750px; 
}

.btn{
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
}

.btn > button{
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #3d5a80;
    background-color: #ee6c4d;
    color: #e0fbfc;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 14px;

}

.blog-details > p{
    margin: 20px;
}

.likes{
    border: none;
    margin: 0;
    padding: 5px;
    font-size: 16px;
    background-color: #3d5a80;
    border-radius: 6px;
    margin-right: 50px;
    cursor: pointer;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.likes > small{
    padding: 3px;
    color: white;
    font-size: 16px;
}

.heart{
    color: rgb(226, 50, 50);
}


.blogTitle{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.blogHeader{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.blogComments{
    max-width: 600px;
    margin: 25px auto;
    background-color: #98c1d9;
    padding: 15px;
    border-radius: 10px;
}

.author{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.commentLikes{
    display: flex;
    height: 24px;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 12px;
    color: #293241;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    /* font: bold; */
}

.commentLikes > small{
    font-size: 14px;
    padding-left: 5px;
    display: flex;
    text-align: center;
    align-items: center;
}

.likeslabel{
    padding-left: 3px;
}

.comment{
    text-indent: 25px;
    margin: 10px 40px;
    text-align: justify; /* justificar o texto */
}

#buttonComment{
    /* background-color: red; */
    display: flex;
    height: 24px;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 12px;
    color: #293241;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    /* font: bold; */
}